/* mobile adapt */
@media screen and (min-width: 320px) {
    .container {
        max-width: 320px;
        margin: 0 auto;
    }
}
/* pl- adapt-*/
@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
    }
    .logo {
        margin-right: 120px;
    }
    .header {
        max-width: 768px;
    }
    .nav-list {
        display: flex;
    }
    .address-container {
        
    }
}